*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: black;
  align-self: center;
  margin: 80px 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 3rem auto auto auto;
  padding: 0 1.5rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: "img-1  img-5  img-5" "img-4  img-2  img-3";
}
.image-gallery ion-icon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}
.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.image-gallery a::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}
.image-gallery a:hover ion-icon,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  background-image: url("../../images/vcam_1.jpg");
}

.img-2 {
  grid-area: img-2;
  background-image: url("../../images/vcam_2.jpg");
}

.img-3 {
  grid-area: img-3;
  background-image: url("../../images/vcam_3.jpg");
}

.img-4 {
  grid-area: img-4;
  background-image: url("../../images/vcam_4.jpg");
}

.img-5 {
  grid-area: img-5;
  background-image: url("../../images/vcam_5.jpg");
}

@media (max-width: 900px) {
  .image-gallery {
    grid-template-areas: "img-1  img-5  img-4" "img-2  img-2  img-3";
  }
}
@media (max-width: 414px) {
  .image-gallery {
    grid-template-columns: 1fr;
    grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5";
  }
}
.container__product--detail {
  font-size: 20px;
  height: 80vh;
  width: 100vh;
  align-self: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 90%;
  height: auto;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 5px 5px 40px 5px rgba(5, 5, 5, 0.5);
}
.card.infos {
  width: 50%;
  background-color: red;
}

.more-infos {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: grey;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.reviews {
  color: gold;
}

.more-infos h5:nth-child(1) {
  color: black;
}

.infos-content {
  font-size: 12px;
}

.buttons {
  margin: 30px 0 0 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 45%;
  font: inherit;
  border: 2px solid grey;
  background-color: white;
  border-radius: 20px;
}

.slider {
  height: 65%;
  display: flex;
  align-items: center;
}
.slider img {
  width: 90%;
  margin: 50px auto 50px auto;
}

.img-slider {
  display: flex;
  height: 67px;
  justify-content: space-around;
  width: 95%;
}

.img-slider div {
  width: 20%;
  height: 100%;
}

.img-slider img {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
