.cart-page {
  margin: 80px auto;
  width: 90%;
  p {
    font-size: 16px;
    font-weight: bold;
  }
  small {
    font-size: 14px;
  }
  a {
    font-size: 12px;
  }
  td {
    font-size: 14px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: $color-primary;
  font-weight: normal;
  font-size: 1.5rem;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: $color-primary;
}
td img {
  width: 100px;
  height: 100px;
  margin: 0 10px 0 0;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  td {
    font-size: 14px;
  }
}

.total-price table {
  width: 100%;
  border-top: 3px solid $color-primary;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
#table__quantity--label {
  text-align: right;
}
